body{
    padding:0;
    margin:1.1em;
    font-family:'Lato', 'sans-serif';
}

.header{
    border-bottom: 1px solid black;
    padding:0;
    margin:0;
}

.header h2{
    text-align:left;
    margin:0;
    padding:0;
    display: inline;
}

.header #profile{
    text-align:right;
    display:inline;
}

.header #profile ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
}

#search{
    margin-top:1em;
}

#bid_text{
    font-size:1.5em;
    margin:0;
    padding:0;
}

#myCarousel{
    width:90%;
    max-height:600px;
    font-size:3.5em;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:.5em;
}

#myCarousel .descrip{

    position:absolute;
    top:50px;
    left:200px;
    color:white;
    font-size:1em;

}

#causes{
    border-right: 1px dashed grey;
}

#causes ul{
    list-style-type:none;
}

#causes li{
    font-size:1em;
}

#items{
    margin-top:1em;
}

#items img{
    opacity:.5;
}

#items img:hover{
    opacity:1;
}

.item-description{
    display:block;
}

.money{
    color:red;
}

#non_profit_descrip{
    margin-top:1em;
}

#user_descrip{
    margin-top:1em;
}

#img_round img{
    border-radius: 15px;
}

#username{
    font-size:1em;
}

#profile{
    margin-top:2em;
    margin-left:2em;
}

#right_content{
    float:left;
    margin-top:1em;
}

#right_content a{
    margin-right:2em;
    font-size:1.0em;
}

#left_content{
    margin-left:1em;
    margin-top:1em;
}

#description-profile{
    margin-top:13.5em;
    margin-left:-21em;
    width:75%;
}

#buyer_info, #seller_info{
    margin-top:10em;
}

#buyer_info{
    text-align:right;
}

#seller_info{
    text-align:left;
}

#item_info{
    text-align:center;
}

#slider_container{
    margin-top:4em;
}

#slider{
    background:#2CBB76;
    margin:0;
    padding:0;
}

#amount_non_profit{
    margin-top:-1em;
    margin-left:-30em;
}

#amount_you{
    margin-bottom:-1.6em;
    margin-right:-30em;
}

#non_profit_don{
    margin-top:-1.1em;
    margin-left:-52em;
}

#you_don{
    margin-bottom:-1.2em;
    margin-right:-47em;
}